Updated to work with fastai 1.0

conda install pyarrow -c conda-forge

pip install isoweek

conda install -c pytorch -c fastai fastai

# Structured and time series data

This notebook contains an implementation of the third place result in the Rossman Kaggle competition as detailed in Guo/Berkhahn's [Entity Embeddings of Categorical Variables](https://arxiv.org/abs/1604.06737).

The motivation behind exploring this architecture is it's relevance to real-world application. Most data used for decision making day-to-day in industry is structured and/or time-series data. Here we explore the end-to-end process of using neural networks with practical structured data problems.

In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [6]:
import sys
!{sys.executable} -m pip install fastai==1.0.61
!{sys.executable} -m pip install isoweek
from fastai.tabular import add_datepart
from isoweek import Week
# from pandas_summary import DataFrameSummar
import numpy as np
import pandas as pd
np.set_printoptions(threshold=50, edgeitems=20)

PATH='dataset/rossmann/'

Requirement already satisfied: fastai==1.0.61 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (1.0.61)
Requirement already satisfied: pandas in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (1.1.5)
Requirement already satisfied: nvidia-ml-py3 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (7.352.0)
Requirement already satisfied: numexpr in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (2.8.1)
Requirement already satisfied: spacy>=2.0.18 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (3.2.1)
Requirement already satisfied: pynvx>=1.0.0 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (1.0.0)
Requirement already satisfied: matplotlib in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (3.3.4)
Requirement already satisfied: requests in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (2.27.1)
Requirement already satisfied: scipy in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (1.5.2)
Requirement already satisfied: fastprogress>=0.2.1 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (1.0.0)
Requirement already satisfied: beautifulsoup4 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (4.10.0)
Requirement already satisfied: bottleneck in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (1.3.2)
Requirement already satisfied: numpy>=1.15 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (1.19.2)
Requirement already satisfied: packaging in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (21.3)
Requirement already satisfied: pyyaml in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (5.4.1)
Requirement already satisfied: torchvision in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (0.11.3)
Requirement already satisfied: dataclasses in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (0.8)
Requirement already satisfied: Pillow in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (8.3.1)
Requirement already satisfied: torch>=1.0.0 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from fastai==1.0.61) (1.10.2)
Requirement already satisfied: setuptools in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (58.0.4)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (2.0.6)
Requirement already satisfied: jinja2 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (3.0.2)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (2.4.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (1.0.6)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (0.4.0)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (8.0.13)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (3.0.8)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (4.62.3)
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (3.10.0.2)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (3.0.6)
Requirement already satisfied: pathy>=0.3.5 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (0.6.1)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (1.0.1)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (0.9.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (3.3.0)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (0.7.5)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (1.8.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from spacy>=2.0.18->fastai==1.0.61) (2.0.6)
Requirement already satisfied: zipp>=0.5 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from catalogue<2.1.0,>=2.0.6->spacy>=2.0.18->fastai==1.0.61) (3.6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from packaging->fastai==1.0.61) (3.0.4)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from pathy>=0.3.5->spacy>=2.0.18->fastai==1.0.61) (5.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from requests->fastai==1.0.61) (2021.5.30)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from requests->fastai==1.0.61) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from requests->fastai==1.0.61) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from requests->fastai==1.0.61) (3.3)
Requirement already satisfied: contextvars<3,>=2.4 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from thinc<8.1.0,>=8.0.12->spacy>=2.0.18->fastai==1.0.61) (2.4)
Requirement already satisfied: immutables>=0.9 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from contextvars<3,>=2.4->thinc<8.1.0,>=8.0.12->spacy>=2.0.18->fastai==1.0.61) (0.16)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from typer<0.5.0,>=0.3.0->spacy>=2.0.18->fastai==1.0.61) (8.0.3)
Requirement already satisfied: importlib-metadata in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from click<9.0.0,>=7.1.1->typer<0.5.0,>=0.3.0->spacy>=2.0.18->fastai==1.0.61) (0.7)
Requirement already satisfied: soupsieve>1.2 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from beautifulsoup4->fastai==1.0.61) (2.3.1)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from jinja2->spacy>=2.0.18->fastai==1.0.61) (2.0.1)
Requirement already satisfied: cycler>=0.10 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from matplotlib->fastai==1.0.61) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from matplotlib->fastai==1.0.61) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from matplotlib->fastai==1.0.61) (1.3.1)
Requirement already satisfied: six>=1.5 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib->fastai==1.0.61) (1.16.0)
Requirement already satisfied: pytz>=2017.2 in /Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages (from pandas->fastai==1.0.61) (2021.3)
Collecting isoweek
  Using cached isoweek-1.3.3-py2.py3-none-any.whl (7.1 kB)
Installing collected packages: isoweek
Successfully installed isoweek-1.3.3

## Create datasets

In addition to the provided data, we will be using external datasets put together by participants in the Kaggle competition. You can download all of them [here](http://files.fast.ai/part2/lesson14/rossmann.tgz).

For completeness, the implementation used to put them together is included below.

In [7]:
def concat_csvs(dirname):
    path = f'{PATH}{dirname}'
    filenames=glob(f"{PATH}/*.csv")

    wrote_header = False
    with open(f"{path}.csv","w") as outputfile:
        for filename in filenames:
            name = filename.split(".")[0]
            with open(filename) as f:
                line = f.readline()
                if not wrote_header:
                    wrote_header = True
                    outputfile.write("file,"+line)
                for line in f:
                     outputfile.write(name + "," + line)
                outputfile.write("\n")

In [8]:
# concat_csvs('googletrend')
# concat_csvs('weather')

Feature Space:
* train: Training set provided by competition
* store: List of stores
* store_states: mapping of store to the German state they are in
* List of German state names
* googletrend: trend of certain google keywords over time, found by users to correlate well w/ given data
* weather: weather
* test: testing set

In [9]:
table_names = ['train', 'store', 'store_states', 'state_names', 
               'googletrend', 'weather', 'test']

We'll be using the popular data manipulation framework `pandas`. Among other things, pandas allows you to manipulate tables/data frames in python as one would in a database.

We're going to go ahead and load all of our csv's as dataframes into the list `tables`.

In [10]:
tables = [pd.read_csv(f'{PATH}{fname}.csv', low_memory=False) for fname in table_names]

In [11]:
from IPython.display import HTML, display

We can use `head()` to get a quick look at the contents of each table:
* train: Contains store information on a daily basis, tracks things like sales, customers, whether that day was a holdiay, etc.
* store: general info about the store including competition, etc.
* store_states: maps store to state it is in
* state_names: Maps state abbreviations to names
* googletrend: trend data for particular week/state
* weather: weather conditions for each state
* test: Same as training table, w/o sales and customers

In [12]:
for t in tables: display(t.head())

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

                 file        Date  ...  Events  WindDirDegrees
0  NordrheinWestfalen  2013-01-01  ...    Rain             215
1  NordrheinWestfalen  2013-01-02  ...    Rain             225
2  NordrheinWestfalen  2013-01-03  ...    Rain             240
3  NordrheinWestfalen  2013-01-04  ...    Rain             263
4  NordrheinWestfalen  2013-01-05  ...    Rain             268

[5 rows x 24 columns]

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

This is very representative of a typical industry dataset.

The following returns summarized aggregate information to each table accross each field.

In [13]:
for t in tables: display(t.describe())

              Store     DayOfWeek  ...         Promo  SchoolHoliday
count  1.017209e+06  1.017209e+06  ...  1.017209e+06   1.017209e+06
mean   5.584297e+02  3.998341e+00  ...  3.815145e-01   1.786467e-01
std    3.219087e+02  1.997391e+00  ...  4.857586e-01   3.830564e-01
min    1.000000e+00  1.000000e+00  ...  0.000000e+00   0.000000e+00
25%    2.800000e+02  2.000000e+00  ...  0.000000e+00   0.000000e+00
50%    5.580000e+02  4.000000e+00  ...  0.000000e+00   0.000000e+00
75%    8.380000e+02  6.000000e+00  ...  1.000000e+00   0.000000e+00
max    1.115000e+03  7.000000e+00  ...  1.000000e+00   1.000000e+00

[8 rows x 7 columns]

            Store  CompetitionDistance  ...  Promo2SinceWeek  Promo2SinceYear
count  1115.00000          1112.000000  ...       571.000000       571.000000
mean    558.00000          5404.901079  ...        23.595447      2011.763573
std     322.01708          7663.174720  ...        14.141984         1.674935
min       1.00000            20.000000  ...         1.000000      2009.000000
25%     279.50000           717.500000  ...        13.000000      2011.000000
50%     558.00000          2325.000000  ...        22.000000      2012.000000
75%     836.50000          6882.500000  ...        37.000000      2013.000000
max    1115.00000         75860.000000  ...        50.000000      2015.000000

[8 rows x 7 columns]

            Store
count  1115.00000
mean    558.00000
std     322.01708
min       1.00000
25%     279.50000
50%     558.00000
75%     836.50000
max    1115.00000

                StateName State
count                  16    16
unique                 16    16
top     BadenWuerttemberg    RP
freq                    1     1

             trend
count  2072.000000
mean     63.814189
std      12.650246
min       0.000000
25%      55.000000
50%      64.000000
75%      72.000000
max     100.000000

       Max_TemperatureC  Mean_TemperatureC  ...    CloudCover  WindDirDegrees
count      15840.000000       15840.000000  ...  14667.000000    15840.000000
mean          14.644129          10.388952  ...      5.551306      175.896717
std            8.646012           7.379260  ...      1.687710      101.588872
min          -11.000000         -13.000000  ...      0.000000       -1.000000
25%            8.000000           4.000000  ...      5.000000       80.000000
50%           15.000000          11.000000  ...      6.000000      202.000000
75%           21.000000          16.000000  ...      7.000000      256.000000
max           39.000000          31.000000  ...      8.000000      360.000000

[8 rows x 21 columns]

                 Id         Store  ...         Promo  SchoolHoliday
count  41088.000000  41088.000000  ...  41088.000000   41088.000000
mean   20544.500000    555.899533  ...      0.395833       0.443487
std    11861.228267    320.274496  ...      0.489035       0.496802
min        1.000000      1.000000  ...      0.000000       0.000000
25%    10272.750000    279.750000  ...      0.000000       0.000000
50%    20544.500000    553.500000  ...      0.000000       0.000000
75%    30816.250000    832.250000  ...      1.000000       1.000000
max    41088.000000   1115.000000  ...      1.000000       1.000000

[8 rows x 6 columns]

## Data Cleaning / Feature Engineering

As a structured data problem, we necessarily have to go through all the cleaning and feature engineering, even though we're using a neural network.

In [14]:
train, store, store_states, state_names, googletrend, weather, test = tables

In [15]:
train[train['Open'] == 0]

         Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
291        292          5  2015-07-31  ...      1             0              1
875        876          5  2015-07-31  ...      1             0              1
1406       292          4  2015-07-30  ...      1             0              1
1990       876          4  2015-07-30  ...      1             0              1
2521       292          3  2015-07-29  ...      1             0              1
...        ...        ...         ...  ...    ...           ...            ...
1017204   1111          2  2013-01-01  ...      0             a              1
1017205   1112          2  2013-01-01  ...      0             a              1
1017206   1113          2  2013-01-01  ...      0             a              1
1017207   1114          2  2013-01-01  ...      0             a              1
1017208   1115          2  2013-01-01  ...      0             a              1

[172817 rows x 9 columns]

In [16]:
len(train),len(test)

(1017209, 41088)

We turn state Holidays to booleans, to make them more convenient for modeling. We can do calculations on pandas fields using notation very similar (often identical) to numpy.

In [17]:
train.StateHoliday = train.StateHoliday!='0'
test.StateHoliday = test.StateHoliday!='0'

`join_df` is a function for joining tables on specific fields. By default, we'll be doing a left outer join of `right` on the `left` argument using the given fields for each table.

Pandas does joins using the `merge` method. The `suffixes` argument describes the naming convention for duplicate fields. We've elected to leave the duplicate field names on the left untouched, and append a "\_y" to those on the right.

In [18]:
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

Join weather/state names.

In [19]:
weather = join_df(weather, state_names, "file", "StateName")

In pandas you can add new columns to a dataframe by simply defining it. We'll do this for googletrends by extracting dates and state names from the given data and adding those columns.

We're also going to replace all instances of state name 'NI' to match the usage in the rest of the data: 'HB,NI'. This is a good opportunity to highlight pandas indexing. We can use `.loc[rows, cols]` to select a list of rows and a list of columns from the dataframe. In this case, we're selecting rows w/ statename 'NI' by using a boolean list `googletrend.State=='NI'` and selecting "State".

In [20]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

The following extracts particular date fields from a complete datetime for the purpose of constructing categoricals.

You should *always* consider this feature extraction step when working with date-time. Without expanding your date-time into these additional fields, you can't capture any trend/cyclical behavior as a function of time at any of these granularities. We'll add to every table with a date field.

In [21]:
add_datepart(weather, "Date", drop=False)
add_datepart(googletrend, "Date", drop=False)
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)

/Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages/fastai/tabular/transform.py:63: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  for n in attr: df[prefix + n] = getattr(field.dt, n.lower())

          Id  Store  DayOfWeek  ... Is_year_end  Is_year_start     Elapsed
0          1      1          4  ...       False          False  1442448000
1          2      3          4  ...       False          False  1442448000
2          3      7          4  ...       False          False  1442448000
3          4      8          4  ...       False          False  1442448000
4          5      9          4  ...       False          False  1442448000
...      ...    ...        ...  ...         ...            ...         ...
41083  41084   1111          6  ...       False          False  1438387200
41084  41085   1112          6  ...       False          False  1438387200
41085  41086   1113          6  ...       False          False  1438387200
41086  41087   1114          6  ...       False          False  1438387200
41087  41088   1115          6  ...       False          False  1438387200

[41088 rows x 21 columns]

The Google trends data has a special category for the whole of Germany - we'll pull that out so we can use it explicitly.

In [22]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

Now we can outer join all of our data into a single dataframe. Recall that in outer joins everytime a value in the joining field on the left table does not have a corresponding value on the right table, the corresponding row in the new table has Null values for all right table fields. One way to check that all records are consistent and complete is to check for Null values post-join, as we do here.

*Aside*: Why note just do an inner join?
If you are assuming that all records are complete and match on the field you desire, an inner join will do the same thing as an outer join. However, in the event you are wrong or a mistake is made, an outer join followed by a null-check will catch it. (Comparing before/after # of rows for inner join is equivalent, but requires keeping track of before/after row #'s. Outer join is easier.)

In [23]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [24]:
joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")
len(joined[joined.StoreType.isnull()]),len(joined_test[joined_test.StoreType.isnull()])

(0, 0)

In [25]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
joined_test = join_df(joined_test, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()]),len(joined_test[joined_test.trend.isnull()])

(0, 0)

In [26]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()]),len(joined_test[joined_test.trend_DE.isnull()])

(0, 0)

In [27]:
joined = join_df(joined, weather, ["State","Date"])
joined_test = join_df(joined_test, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()]),len(joined_test[joined_test.Mean_TemperatureC.isnull()])

(0, 0)

In [28]:
for df in (joined, joined_test):
    for c in df.columns:
        if c.endswith('_y'):
            if c in df.columns: df.drop(c, inplace=True, axis=1)

Next we'll fill in missing values to avoid complications with `NA`'s. `NA` (not available) is how Pandas indicates missing values; many models have problems when missing values are present, so it's always important to think about how to deal with them. In these cases, we are picking an arbitrary *signal value* that doesn't otherwise appear in the data.

In [29]:
for df in (joined,joined_test):
    df['CompetitionOpenSinceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1).astype(np.int32)

Next we'll extract features "CompetitionOpenSince" and "CompetitionDaysOpen". Note the use of `apply()` in mapping a function across dataframe values.

In [30]:
for df in (joined,joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

We'll replace some erroneous / outlying data.

In [31]:
for df in (joined,joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

We add "CompetitionMonthsOpen" field, limiting the maximum to 2 years to limit number of unique categories.

In [32]:
for df in (joined,joined_test):
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,  1, 14, 20,  8, 18,  6, 21,  5])

Same process for Promo dates.

In [33]:
for df in (joined,joined_test):
    print(df.shape)

(1017209, 77)
(41088, 76)

In [34]:
pd.datetime

/Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages/IPython/utils/dir2.py:65: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  canary = getattr(obj, '_ipython_canary_method_should_not_exist_', None)
/Users/matias/opt/anaconda3/envs/deep_learning/lib/python3.6/site-packages/IPython/utils/dir2.py:74: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  m = getattr(obj, name, None)

pandas.__DatetimeSub

In [35]:
for df in (joined,joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
        x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

In [36]:
for df in (joined,joined_test):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

In [37]:
joined.to_feather(f'{PATH}joined.feather')
joined_test.to_feather(f'{PATH}joined_test.feather')

## Durations

It is common when working with time series data to extract data that explains relationships across rows as opposed to columns, e.g.:
* Running averages
* Time until next event
* Time since last event

This is often difficult to do with most table manipulation frameworks, since they are designed to work with relationships across columns. As such, we've created a class to handle this type of data.

We'll define a function `get_elapsed` for cumulative counting across a sorted dataframe. Given a particular field `fld` to monitor, this function will start tracking time since the last occurrence of that field. When the field is seen again, the counter is set to zero.

Upon initialization, this will result in datetime na's until the field is encountered. This is reset every time a new store is seen. We'll see how to use this shortly.

In [45]:
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

We'll be applying this to a subset of columns:

In [46]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [47]:
#df = train[columns]
df = train[columns].append(test[columns])

Let's walk through an example.

Say we're looking at School Holiday. We'll first sort by Store, then Date, and then call `add_elapsed('SchoolHoliday', 'After')`:
This will apply to each row with School Holiday:
* A applied to every row of the dataframe in order of store and date
* Will add to the dataframe the days since seeing a School Holiday
* If we sort in the other direction, this will count the days until another holiday.

In [48]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We'll do this for two more fields.

In [55]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [56]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We're going to set the active index to Date.

In [57]:
df = df.set_index("Date")

Then set null values from elapsed field calculations to 0.

In [58]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [59]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(0).astype(int)

Next we'll demonstrate window functions in pandas to calculate rolling quantities.

Here we're sorting by date (`sort_index()`) and counting the number of events of interest (`sum()`) defined in `columns` in the following week (`rolling()`), grouped by Store (`groupby()`). We do the same in the opposite direction.

In [60]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [61]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

Next we want to drop the Store indices grouped together in the window function.

Often in pandas, there is an option to do this in place. This is time and memory efficient when working with large datasets.

In [62]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [63]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [64]:
df.reset_index(inplace=True)

Now we'll merge these values onto the df.

In [65]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [66]:
df.drop(columns,1,inplace=True)

In [67]:
df.head()

,Date,Store,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-09-17,1,13,0,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
1,2015-09-16,1,12,0,104,0,0,0,0.0,0.0,3.0,0.0,0.0,2.0
2,2015-09-15,1,11,0,103,0,0,0,0.0,0.0,2.0,0.0,0.0,3.0
3,2015-09-14,1,10,0,102,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
4,2015-09-13,1,9,0,101,0,9,-1,0.0,0.0,0.0,0.0,0.0,4.0

It's usually a good idea to back up large tables of extracted / wrangled features before you join them onto another one, that way you can go back to it easily if you need to make changes to it.

In [68]:
df.to_feather(f'{PATH}df.feather')

In [69]:
df = pd.read_feather(f'{PATH}df.feather')

In [70]:
df["Date"] = pd.to_datetime(df.Date)

In [71]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [72]:
joined = join_df(joined, df, ['Store', 'Date'])

In [73]:
joined_test = join_df(joined_test, df, ['Store', 'Date'])

The authors also removed all instances where the store had zero sale / was closed. We speculate that this may have cost them a higher standing in the competition. One reason this may be the case is that a little exploratory data analysis reveals that there are often periods where stores are closed, typically for refurbishment. Before and after these periods, there are naturally spikes in sales that one might expect. By ommitting this data from their training, the authors gave up the ability to leverage information about these periods to predict this otherwise volatile behavior.

In [74]:
joined = joined[joined.Sales!=0]

We'll back this up as well.

In [75]:
joined.reset_index(inplace=True)
joined_test.reset_index(inplace=True)

In [76]:
joined.to_feather(f'{PATH}joined.feather')
joined_test.to_feather(f'{PATH}joined_test.feather')

We now have our final set of engineered features.

While these steps were explicitly outlined in the paper, these are all fairly typical feature engineering steps for dealing with time series data and are practical in any similar setting.